body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
}

.header {
  height: 49px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid black;
}

.footer {
  height: 49px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid black;
}

.content {
<<<<<<< HEAD
  min-height: calc(100vh - 140px);
  width: 760px;
  max-width: 100%;
  margin: auto;
  padding: 20px;
=======
  min-height: calc(100vh - 100px);
<<<<<<< HEAD
=======
  width: 720px;
  max-width: 100%;
  margin: auto;
>>>>>>> corrected commits idk
}

.section {
  height: 450px;
  width: 100%;
<<<<<<< HEAD
=======
  margin-top: 20px;
>>>>>>> corrected commits idk
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
<<<<<<< HEAD
=======
>>>>>>> 25e7fba... added bottom-section styles
>>>>>>> corrected commits idk
}